body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #ffffff;
  /* background: #2b2b2b url('assets/bg-image.jpg') fixed center/contain; */
  background-color: #17223b;
  /*   .carousel-bullet:hover {
  } */
}

body .carousel-container {
  position: relative;
  overflow: hidden;
}

body .carousel-open {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body .carousel-item {
  display: none;
  min-width: 200px;
  height: auto;
  border-radius: 10px;
  margin: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

body .carousel-item .item-image {
  min-width: inherit;
  height: inherit;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body .carousel-item .item-title {
  text-align: center;
  margin-bottom: 15px;
}

body .carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}

body .carousel-indicators li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

body .carousel-indicators li:hover .carousel-bullet {
  background-color: #aaaaaa;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body .carousel-bullet {
  display: block;
  background-color: #6b778d;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #17223b;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

body #carousel-1:checked ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
body #carousel-2:checked ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
body #carousel-3:checked ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
body #carousel-4:checked ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
  background-color: #17223b;
  border: 1px solid #6b778d;
}

body #carousel-1:checked ~ .carousel-item-1,
body #carousel-2:checked ~ .carousel-item-2,
body #carousel-3:checked ~ .carousel-item-3,
body #carousel-4:checked ~ .carousel-item-4 {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
/*# sourceMappingURL=style.css.map */